* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrapper_header {
    width: 100%;
    .contents_title {
      display: flex;
      gap: 10px;
      align-items: center;
      .title {
        color: #55b2d4;
        font: 600 16px/1 "arial";
      }
      .sub_title {
        font: normal 14px/1 "arial";
        text-transform: uppercase;
      }
      .sub_title {
        font: normal 14px/1 "arial";
        text-transform: uppercase;
      }
    }
    .divide_line {
      width: 100%;
      border-top: 1px solid gray;
      margin: 4px 0;
    }
    .album_wrapper {
      display: flex;
      justify-content: space-around;
      .album_thumnail {
        width: 130px;
        height: 130px;
      }
      .album_songtitle {
        font-size: 12px;
        color: gray;
      }
      .album_artist {
        font-size: 14px;
        color: #0f465e;
      }
    }
  }
  .wrapper_body {
    width: 100%;
    .contents_title {
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 8px 0 4px;
      .title {
        color: #55b2d4;
        font: 600 16px/1 "arial";
      }
      .sub_title {
        font: normal 14px/1 "arial";
        text-transform: uppercase;
      }
    }
    .album_table {
      width: 100%;
      padding: 2px;
      border-spacing: 0;
      th {
        background: #eee;
        color: gray;
        border-top: 1px solid gray;
        border-bottom: 1px dotted gray;
      }
      td {
        color: #0f465e;
        border-bottom: 1px dashed gray;
      }
      .album_table_checkbox {
        width: 5%;
        text-align: center;
      }
      .album_table_number {
        width: 20%;
        text-align: center;
      }
      .album_table_song {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        padding-left: 40px;
        .fa-solid {
          width: 10px;
          height: 10px;
          font-size: 10px;
          display: inline-block;
          color: crimson;
          border: 1px solid gray;
          border-radius: 3px;
          padding: 5px;
          padding-right: 10px;
          line-height: 0;
          cursor: pointer;
        }
      }
      .album_table_artist {
        width: 26%;
        text-align: center;
      }
    }
    .album_table_footer {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
      .album_table_footer_center {
        color: crimson;
      }
      button {
        cursor: pointer;
        background: gray;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 3px;
      }
    }
  }
}
